* {
  font-family: 
    "Avenir", "Myriad Pro Light", "Nunito", "Oswald", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding-top: 50px;
}

svg {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
}

table {
  margin: auto;
}

td {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}